<div class="container">
		<div class="row">
		<table class="table table-striped custab">
		<thead>
			<tr>
				<th>Equipamento</th>
				<th>Número de Série</th>
				<th>Setor</th>
                <th>Procedimento</th>
                <th>Responsável</th>
                <th>Data</th>
				<th class="text-center"></th>
			</tr>
		</thead>
				<tr>
					<td></td>
					<td></td>
					<td></td>
                    <td></td>
                    <td></td>
                    <td></td>
					</tr>
				
		</table>
		</div>
	</div>
